# Secrets
.env

# Python Virtual Environment
venv/
__pycache__/
*.pyc

# Logs
*.log

# OS files
.DS_Store

# Local Terraform folder (the big files)
.terraform/

# Terraform state files (security risk)
*.tfstate
*.tfstate.backup

# Terraform Secret Files
*.tfvars
*.tfvars.json